# Prepare df_ssp for plots and stats

In [1]:
# import all packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

import plotly.express as px
import plotly.graph_objects as go

### Import output data for all SSPs

In [2]:
from scripts.plots_stats.get_df_ssp import get_df_ssp
df_ssp = get_df_ssp()

(30544, 23) (30544, 23) (30544, 23) (30498, 23) (30498, 23) (30498, 23)
(30498, 41) (30544, 41)
Total number of cities 30498

In [3]:
df_ssp.columns #[['GEOID', 'NAMELSAD', 'city type', 'REGION', 'CensusPop_20','length_m_perCap_2020_ssp2']].sort_values('length_m_perCap_2020_ssp2').head(10)

Index(['GEOID', 'NAMELSAD', 'city type', 'REGION', 'ALAND', 'CensusPop_20',
       'ssp12030', 'ssp12040', 'ssp12050', 'ssp12060',
       ...
       'RBUV_Burden_2050_ssp4', 'RBUV_Burden_2100_ssp4', 'RBUV_Burden_2030_in',
       'RBUV_Burden_2040_in', 'RBUV_Burden_2050_in', 'RBUV_Burden_2060_in',
       'RBUV_Burden_2070_in', 'RBUV_Burden_2080_in', 'RBUV_Burden_2090_in',
       'RBUV_Burden_2100_in'],
      dtype='object', length=179)

### Percent cities with increasing burden from 2020 to 2100

In [4]:
print('Cities with an increasing burden at each scenario ====')
print("For buildings=== ssp2, ssp1 , ssp4 ")
print(df_ssp[df_ssp['volume_m3_perCap_2020_ssp2'] < df_ssp['volume_m3_perCap_2100_ssp2']].shape[0] / df_ssp['volume_m3_perCap_2100_ssp2'].shape[0],\
     df_ssp[df_ssp['volume_m3_perCap_2020_ssp1'] < df_ssp['volume_m3_perCap_2100_ssp1']].shape[0] / df_ssp['volume_m3_perCap_2100_ssp1'].shape[0],  \
        df_ssp[df_ssp['volume_m3_perCap_2020_ssp4'] < df_ssp['volume_m3_perCap_2100_ssp4']].shape[0] / df_ssp['volume_m3_perCap_2100_ssp4'].shape[0])
print("For roadways=== ssp2, ssp1 , ssp4 ")
print(df_ssp[df_ssp['length_m_perCap_2020_ssp2'] < df_ssp['length_m_perCap_2100_ssp2']].shape[0] / df_ssp['volume_m3_perCap_2100_ssp2'].shape[0], \
df_ssp[df_ssp['length_m_perCap_2020_ssp1'] < df_ssp['length_m_perCap_2100_ssp1']].shape[0] / df_ssp['volume_m3_perCap_2100_ssp1'].shape[0], \
df_ssp[df_ssp['length_m_perCap_2020_ssp4'] < df_ssp['length_m_perCap_2100_ssp4']].shape[0] / df_ssp['volume_m3_perCap_2100_ssp4'].shape[0] )

Cities with an increasing burden at each scenario ====
For buildings=== ssp2, ssp1 , ssp4
0.5842678208407108 0.6015476424683586 0.829136336808971
For roadways=== ssp2, ssp1 , ssp4
0.5320020984982622 0.5213456620106236 0.7227359171093186

### Regional decriptive stats by city type

In [5]:
df_ssp.groupby(['city type','REGION'])[['volume_m3_perCap_2020_ssp2','length_m_perCap_2020_ssp2']].median().sort_values(['city type','volume_m3_perCap_2020_ssp2']).round(2)

                     volume_m3_perCap_2020_ssp2  length_m_perCap_2020_ssp2
city type REGION
periurban Northeast                      614.32                      15.83
          South                          698.27                      22.52
          West                           770.94                      16.65
          Midwest                        785.48                      19.88
rural     Northeast                      549.45                      27.11
          South                          764.25                      50.25
          Midwest                        799.42                      43.28
          West                           860.19                      58.81
suburban  Northeast                      700.97                      13.17
          West                           862.38                      12.75
          South                          877.10                      18.20
          Midwest                        914.24                      15.61
urban     Northeast                      543.38                       4.73
          West                           603.54                       4.25
          Midwest                        694.07                       5.69
          South                          694.31                       5.67

In [6]:
df_ssp.groupby(['city type'])[['volume_m3_perCap_2020_ssp2','length_m_perCap_2020_ssp2','length_m_perCap_2050_ssp2','length_m_perCap_2100_ssp2']].median().sort_values(['city type','volume_m3_perCap_2020_ssp2']).round(2)

,volume_m3_perCap_2020_ssp2,length_m_perCap_2020_ssp2,length_m_perCap_2050_ssp2,length_m_perCap_2100_ssp2
city type,,,,
periurban,720.70,19.30,17.17,16.36
rural,766.93,45.52,46.82,55.69
suburban,837.33,15.29,13.66,13.00
urban,593.51,4.70,4.21,3.83

In [7]:
45.52/4.7, 45.52/19.30

(9.685106382978724, 2.3585492227979277)

### Cities with less than 1000 m/person roadway

In [8]:
df_ssp[df_ssp['length_m_perCap_2020_ssp2']<1000].sort_values('length_m_perCap_2020_ssp2').tail(100)['length_m_perCap_2100_ssp2'].describe().round()

count     100.0
mean      904.0
std       415.0
min       341.0
25%       610.0
50%       811.0
75%      1085.0
max      2597.0
Name: length_m_perCap_2100_ssp2, dtype: float64

In [9]:
df_ssp['length_m_perCap_2020_ssp2'].quantile([.5,.95]), df_ssp[df_ssp['length_m_perCap_2020_ssp2']<1000]['length_m_perCap_2020_ssp2'].quantile([.5,.95])

(0.50     29.800670
 0.95    156.482043
 Name: length_m_perCap_2020_ssp2, dtype: float64,
 0.50     29.752557
 0.95    154.179625
 Name: length_m_perCap_2020_ssp2, dtype: float64)

### Cities with over 1000 m/person roadway

In [10]:
df_ssp[df_ssp['length_m_perCap_2020_ssp2']>1000].shape #sort_values('length_m_perCap_2020_ssp2')[['GEOID','NAMELSAD', 'median_income']].head(50)

(45, 179)

### Cities with less than 100 m3/person built volume

In [11]:
df_ssp[df_ssp['volume_m3_perCap_2020_ssp2']<100].sort_values('length_m_perCap_2020_ssp2')[['GEOID','NAMELSAD', 'median_income']].head(50)

         GEOID                               NAMELSAD  median_income
18299  3667367                      Siena College CDP            NaN
3830   0963313              Quinnipiac University CDP            NaN
23838  4278698  University of Pittsburgh Bradford CDP            NaN
23159  4248868                    Messiah College CDP       250001.0
18364  3672327                        SUNY Oswego CDP            NaN
17622  3626561                        Forest Home CDP        62425.0
3199   0686489          Woodville Farm Labor Camp CDP        33750.0
5609   1506300                       East Kapolei CDP        79280.0
28085  5142501                            Kincora CDP            NaN
5753   1579250                            Wainiha CDP       108750.0
5693   1550150                           Maunaloa CDP        35208.0
23231  4251568                   Mount Gretna borough       136563.0
2457   0642510                            Lompico CDP        90417.0
2771   0658456                      Post Mountain CDP        17000.0
2454   0642384                           Loma Mar CDP       246094.0

### Cities with over 2000 m3/person built volume

In [12]:
df_ssp[df_ssp['volume_m3_perCap_2020_ssp2']>2000][['NAMELSAD', 'REGION','city type', 'median_income']]

                     NAMELSAD REGION  city type  median_income
29                   Axis CDP  South      rural            NaN
452      Redstone Arsenal CDP  South   suburban        94479.0
599                 Amado CDP   West      rural            NaN
641             Carefree town   West  periurban       112768.0
647    Catalina Foothills CDP   West   suburban        95589.0
...                       ...    ...        ...            ...
30428       Mountain View CDP   West  periurban            NaN
30459           Ryan Park CDP   West      rural            NaN
30464           Sinclair town   West      rural        90125.0
30465              Slater CDP   West      rural            NaN
30485          Vista West CDP   West  periurban        96250.0

[747 rows x 4 columns]

In [13]:
df_ssp[['volume_m3_perCap_2020_ssp2', 'length_m_perCap_2020_ssp2']].describe()

       volume_m3_perCap_2020_ssp2  length_m_perCap_2020_ssp2
count                30498.000000               30498.000000
mean                   898.715703                  52.583272
std                   2226.051709                 122.185553
min                     12.425720                   0.010721
25%                    582.984951                  16.870785
50%                    772.854334                  29.800670
75%                   1023.319295                  53.616601
max                 341691.085869                8178.395442

In [14]:
df_ssp[['volume_m3_perCap_2020_ssp2', 'length_m_perCap_2020_ssp2']].quantile([.5,.95,1])

      volume_m3_perCap_2020_ssp2  length_m_perCap_2020_ssp2
0.50                  772.854334                  29.800670
0.95                 1620.748263                 156.482043
1.00               341691.085869                8178.395442

In [15]:
# df_ssp[df_ssp['volume_m3_perCap_2020_ssp2']<100]#.shape, 29751/30498
# df_ssp[df_ssp['length_m_perCap_2020_ssp2']>1000]#.groupby('REGION').count()#.shape, 29751/30498

In [16]:
25/45

0.5555555555555556

In [17]:
print(f"Cities with less than 100 cubic meter/person RBUV:==  {df_ssp[df_ssp['volume_m3_perCap_2020_ssp2'] < 100].shape[0]}")
print(f"Cities with less than 10 m/person roadway:==          {df_ssp[df_ssp['length_m_perCap_2020_ssp2'] < 10].shape[0]}")
print(f"Cities with over 1000 m/person roadway:==             {df_ssp[df_ssp['length_m_perCap_2020_ssp2'] > 1000].shape[0]}")

Cities with less than 100 cubic meter/person RBUV:==  15
Cities with less than 10 m/person roadway:==          2609
Cities with over 1000 m/person roadway:==             45

In [18]:
df_ssp['RBUV_Burden_2050'].value_counts(), df_ssp['RL_Burden_2050'].value_counts(), df_ssp['RBUV_Burden_2100'].value_counts(), df_ssp['RL_Burden_2100'].value_counts()

(RBUV_Burden_2050
 decreasingBurden    15894
 increasingBurden    14438
 noChange              166
 Name: count, dtype: int64,
 RL_Burden_2050
 decreasingBurden    15117
 increasingBurden    12490
 noChange             2891
 Name: count, dtype: int64,
 RBUV_Burden_2100
 increasingBurden    19233
 decreasingBurden    11084
 noChange              181
 Name: count, dtype: int64,
 RL_Burden_2100
 increasingBurden    16828
 decreasingBurden    10964
 noChange             2706
 Name: count, dtype: int64)

In [30]:
df_ssp.groupby('STATEFP')[[ 'volume_m3_perCap_2020_ssp2','volume_m3_perCap_2050_ssp2','volume_m3_perCap_2100_ssp2','added_RBUV_2020_2050', 'added_RBUV_2050_2100',
                            'length_m_perCap_2020_ssp2','length_m_perCap_2050_ssp2', 'length_m_perCap_2100_ssp2','added_RL_2020_2050',
                            'added_RL_2050_2100']].median().round(1).to_csv(r'outputfiles\csvs\state_level_median.csv')

In [20]:
df_ssp[(df_ssp['CensusPop_20']<=10000)].groupby(['STATEFP'])[['volume_m3_perCap_2020_ssp2','volume_m3_perCap_2050_ssp2','volume_m3_perCap_2100_ssp2','length_m_perCap_2020_ssp2',
                                                              'length_m_perCap_2050_ssp2', 'length_m_perCap_2100_ssp2', 'added_RBUV_2020_2050', 'added_RL_2020_2050',
                         'added_RBUV_2050_2100', 'added_RL_2050_2100']].median().round(2).to_csv(r'outputfiles\csvs\state_level_median_below_10000.csv')

### Constantly increasing burden

In [21]:
condition = (df_ssp['volume_m3_perCap_2020_ssp2'] < df_ssp['volume_m3_perCap_2030_ssp2']) & (df_ssp['volume_m3_perCap_2030_ssp2'] < df_ssp['volume_m3_perCap_2040_ssp2']) & \
(df_ssp['volume_m3_perCap_2040_ssp2'] < df_ssp['volume_m3_perCap_2050_ssp2']) & (df_ssp['volume_m3_perCap_2050_ssp2'] < df_ssp['volume_m3_perCap_2060_ssp2']) & \
(df_ssp['volume_m3_perCap_2060_ssp2'] < df_ssp['volume_m3_perCap_2070_ssp2']) & (df_ssp['volume_m3_perCap_2070_ssp2'] < df_ssp['volume_m3_perCap_2080_ssp2']) & \
(df_ssp['volume_m3_perCap_2080_ssp2'] < df_ssp['volume_m3_perCap_2090_ssp2']) & (df_ssp['volume_m3_perCap_2090_ssp2'] < df_ssp['volume_m3_perCap_2100_ssp2'])
print(f"cities that face constantly increasing burden for RBUV {np.round(df_ssp[condition].shape[0]*100/df_ssp.shape[0],2)}")

condition = (df_ssp['length_m_perCap_2020_ssp2'] < df_ssp['length_m_perCap_2030_ssp2']) & (df_ssp['length_m_perCap_2030_ssp2'] < df_ssp['length_m_perCap_2040_ssp2']) & \
(df_ssp['length_m_perCap_2040_ssp2'] < df_ssp['length_m_perCap_2050_ssp2']) & (df_ssp['length_m_perCap_2050_ssp2'] < df_ssp['length_m_perCap_2060_ssp2']) & \
(df_ssp['length_m_perCap_2060_ssp2'] < df_ssp['length_m_perCap_2070_ssp2']) & (df_ssp['length_m_perCap_2070_ssp2'] < df_ssp['length_m_perCap_2080_ssp2']) & \
(df_ssp['length_m_perCap_2080_ssp2'] < df_ssp['length_m_perCap_2090_ssp2']) & (df_ssp['length_m_perCap_2090_ssp2'] < df_ssp['length_m_perCap_2100_ssp2'])
print(f"cities that face constantly increasing burden for RL {np.round(df_ssp[condition].shape[0]*100/df_ssp.shape[0],2)}")

cities that face constantly increasing burden for RBUV 31.07

cities that face constantly increasing burden for RL 31.0

In [22]:
df_ssp.filter(regex='volume').columns
print("Percent cities with increasing built volumes thereby increasing burden")

column_nmaes1 = ['volume_m3_perCap_2020_ssp2','volume_m3_perCap_2030_ssp2', 'volume_m3_perCap_2040_ssp2','volume_m3_perCap_2050_ssp2', 'volume_m3_perCap_2060_ssp2',
                'volume_m3_perCap_2070_ssp2', 'volume_m3_perCap_2080_ssp2', 'volume_m3_perCap_2090_ssp2']
column_nmaes2 = ['volume_m3_perCap_2030_ssp2', 'volume_m3_perCap_2040_ssp2','volume_m3_perCap_2050_ssp2', 'volume_m3_perCap_2060_ssp2',
                'volume_m3_perCap_2070_ssp2', 'volume_m3_perCap_2080_ssp2', 'volume_m3_perCap_2090_ssp2', 'volume_m3_perCap_2100_ssp2']
for col1, col2 in zip(column_nmaes1, column_nmaes2):
    print(np.round(df_ssp[df_ssp[col2] > df_ssp[col1]].shape[0]*100/df_ssp.shape[0],2))

print("Percent cities with increasing roadways thereby increasing burden")

column_nmaes1 = ['length_m_perCap_2020_ssp2','length_m_perCap_2030_ssp2', 'length_m_perCap_2040_ssp2','length_m_perCap_2050_ssp2', 
                 'length_m_perCap_2060_ssp2','length_m_perCap_2070_ssp2', 'length_m_perCap_2080_ssp2', 'length_m_perCap_2090_ssp2']
column_nmaes2 = ['length_m_perCap_2030_ssp2', 'length_m_perCap_2040_ssp2','length_m_perCap_2050_ssp2', 'length_m_perCap_2060_ssp2',
                 'length_m_perCap_2070_ssp2', 'length_m_perCap_2080_ssp2', 'length_m_perCap_2090_ssp2', 'length_m_perCap_2100_ssp2']
for col1, col2 in zip(column_nmaes1, column_nmaes2):
    print(np.round(df_ssp[df_ssp[col2] > df_ssp[col1]].shape[0]*100/df_ssp.shape[0],2))

Percent cities with increasing built volumes thereby increasing burden
34.22
47.34
52.4
49.54
51.06
57.29
65.46
72.53
Percent cities with increasing roadways thereby increasing burden
34.16
47.16
52.24
49.33
50.84
57.06
65.35
72.4

### Constandtly decreasing burden

In [23]:
condition = (df_ssp['volume_m3_perCap_2020_ssp2'] > df_ssp['volume_m3_perCap_2030_ssp2']) & (df_ssp['volume_m3_perCap_2030_ssp2'] > df_ssp['volume_m3_perCap_2040_ssp2']) & \
            (df_ssp['volume_m3_perCap_2040_ssp2'] > df_ssp['volume_m3_perCap_2050_ssp2']) & (df_ssp['volume_m3_perCap_2050_ssp2'] > df_ssp['volume_m3_perCap_2060_ssp2']) & \
            (df_ssp['volume_m3_perCap_2060_ssp2'] > df_ssp['volume_m3_perCap_2070_ssp2']) & (df_ssp['volume_m3_perCap_2070_ssp2'] > df_ssp['volume_m3_perCap_2080_ssp2']) & \
            (df_ssp['volume_m3_perCap_2080_ssp2'] > df_ssp['volume_m3_perCap_2090_ssp2']) & (df_ssp['volume_m3_perCap_2090_ssp2'] > df_ssp['volume_m3_perCap_2100_ssp2'])
print(f"cities that face constantly decreasing burden for RBUV {np.round(df_ssp[condition].shape[0]*100/df_ssp.shape[0],2)}")

condition = (df_ssp['length_m_perCap_2020_ssp2'] > df_ssp['length_m_perCap_2030_ssp2']) & (df_ssp['length_m_perCap_2030_ssp2'] > df_ssp['length_m_perCap_2040_ssp2']) & \
            (df_ssp['length_m_perCap_2040_ssp2'] > df_ssp['length_m_perCap_2050_ssp2']) & (df_ssp['length_m_perCap_2050_ssp2'] > df_ssp['length_m_perCap_2060_ssp2']) & \
            (df_ssp['length_m_perCap_2060_ssp2'] > df_ssp['length_m_perCap_2070_ssp2']) & (df_ssp['length_m_perCap_2070_ssp2'] > df_ssp['length_m_perCap_2080_ssp2']) & \
            (df_ssp['length_m_perCap_2080_ssp2'] > df_ssp['length_m_perCap_2090_ssp2']) & (df_ssp['length_m_perCap_2090_ssp2'] > df_ssp['length_m_perCap_2100_ssp2'])
print(f"cities that face constantly decreasing burden for RL {np.round(df_ssp[condition].shape[0]*100/df_ssp.shape[0],2)}")

cities that face constantly decreasing burden for RBUV 25.1
cities that face constantly decreasing burden for RL 25.29

In [24]:
df_ssp.filter(regex='volume').columns
print("Percent cities with decreasing built volumes")

column_nmaes1 = ['volume_m3_perCap_2020_ssp2','volume_m3_perCap_2030_ssp2', 'volume_m3_perCap_2040_ssp2','volume_m3_perCap_2050_ssp2', 'volume_m3_perCap_2060_ssp2',
                'volume_m3_perCap_2070_ssp2', 'volume_m3_perCap_2080_ssp2', 'volume_m3_perCap_2090_ssp2']
column_nmaes2 = ['volume_m3_perCap_2030_ssp2', 'volume_m3_perCap_2040_ssp2','volume_m3_perCap_2050_ssp2', 'volume_m3_perCap_2060_ssp2',
                'volume_m3_perCap_2070_ssp2', 'volume_m3_perCap_2080_ssp2', 'volume_m3_perCap_2090_ssp2', 'volume_m3_perCap_2100_ssp2']
for col1, col2 in zip(column_nmaes1, column_nmaes2):
    print(np.round(df_ssp[df_ssp[col2] < df_ssp[col1]].shape[0]*100/df_ssp.shape[0],2))

print("Percent cities with decreasing roadways")

column_nmaes1 = ['length_m_perCap_2020_ssp2','length_m_perCap_2030_ssp2', 'length_m_perCap_2040_ssp2','length_m_perCap_2050_ssp2', 
                 'length_m_perCap_2060_ssp2','length_m_perCap_2070_ssp2', 'length_m_perCap_2080_ssp2', 'length_m_perCap_2090_ssp2']
column_nmaes2 = ['length_m_perCap_2030_ssp2', 'length_m_perCap_2040_ssp2','length_m_perCap_2050_ssp2', 'length_m_perCap_2060_ssp2',
                 'length_m_perCap_2070_ssp2', 'length_m_perCap_2080_ssp2', 'length_m_perCap_2090_ssp2', 'length_m_perCap_2100_ssp2']
for col1, col2 in zip(column_nmaes1, column_nmaes2):
    print(np.round(df_ssp[df_ssp[col2] < df_ssp[col1]].shape[0]*100/df_ssp.shape[0],2))

Percent cities with decreasing built volumes
65.71
52.59
47.41
49.89
48.29
42.33
34.2
27.16
Percent cities with decreasing roadways
65.79
52.75
47.56
50.09
48.51
42.56
34.31
27.29

In [25]:
df_ssp['STATEFP'].unique()

array(['01', '04', '05', '06', '08', '09', '10', '11', '12', '13', '15',
       '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26',
       '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37',
       '38', '39', '40', '41', '42', '44', '45', '46', '47', '48', '49',
       '50', '51', '53', '54', '55', '56'], dtype=object)

In [26]:
df_ssp[['GEOID', 'NAMELSAD', 'city type', 'REGION', 'ALAND','label', 'future trend from SSP 2',
    'CensusPop_20','ssp22030', 'ssp22040', 'ssp22050','ssp22060',
       'ssp22070', 'ssp22080', 'ssp22090', 'ssp22100' ,'volume_m3_perCap_2020_ssp2', 'volume_m3_perCap_2030_ssp2',
       'volume_m3_perCap_2040_ssp2', 'volume_m3_perCap_2050_ssp2',
       'volume_m3_perCap_2060_ssp2', 'volume_m3_perCap_2070_ssp2',
       'volume_m3_perCap_2080_ssp2', 'volume_m3_perCap_2090_ssp2',
       'volume_m3_perCap_2100_ssp2','length_m_perCap_2020_ssp2',
       'length_m_perCap_2030_ssp2', 'length_m_perCap_2040_ssp2',
       'length_m_perCap_2050_ssp2', 'length_m_perCap_2060_ssp2',
       'length_m_perCap_2070_ssp2', 'length_m_perCap_2080_ssp2',
       'length_m_perCap_2090_ssp2', 'length_m_perCap_2100_ssp2',
       'weighted_HU_density_sqmi', 'citytype_at_2030', 'citytype_at_2040', 
       'citytype_at_2050', 'citytype_at_2060', 'citytype_at_2070', 
       'citytype_at_2080', 'citytype_at_2090', 'citytype_at_2100', 
       'RBUV_Burden_2050', 'RBUV_Burden_2100','RL_Burden_2050', 'RL_Burden_2100']].to_csv(r'outputfiles\csvs\df_ssp2_clean.csv')

### Change in degree of urbanization over time

In [60]:
df_city_type = pd.read_csv(r'outputfiles\csvs\output_city_type_ssp2.csv')

df_city_type[['city type',
       'citytype_at_2030', 'citytype_at_2040', 'citytype_at_2050',
       'citytype_at_2060', 'citytype_at_2070', 'citytype_at_2080',
       'citytype_at_2090', 'citytype_at_2100']].apply(pd.Series.value_counts).T

                  rural  suburban  periurban  urban
city type         17647      6885       5700    312
citytype_at_2030  17647      6876       5696    325
citytype_at_2040  17647      6872       5695    330
citytype_at_2050  17647      6866       5693    338
citytype_at_2060  17647      6864       5692    341
citytype_at_2070  17647      6853       5690    354
citytype_at_2080  17647      6845       5690    362
citytype_at_2090  17647      6839       5688    370
citytype_at_2100  17647      6836       5688    373

In [69]:
338-312, 373-338, 26+35

(26, 35, 61)

In [61]:
df_city_type['GEOID'] = df_city_type['GEOID'].astype(str).str.zfill(7)

In [62]:
df_city_type = df_city_type.merge(df_ssp[['GEOID','REGION', 'ALAND', 'CensusPop_20']], on = 'GEOID', how = 'left')

In [104]:
df_city_type[(df_city_type['city type'] != 'urban') & (df_city_type['citytype_at_2100'] == 'urban')][['STATEFP', 'NAMELSAD','CensusPop_20',  'city type',
                                                                                                       'citytype_at_2050', 'citytype_at_2100'
                                                                                                       ]].sort_values(by = ['citytype_at_2050','city type', 'NAMELSAD'], ascending=False).to_csv(r'outputfiles\csvs\cities_urban_2100.csv')

In [103]:
df_city_type[(df_city_type['city type'] != 'urban') & (df_city_type['citytype_at_2100'] == 'urban')][['STATEFP', 'NAMELSAD','city type','citytype_at_2050',
                                                                                                      'citytype_at_2100']].head(65).sort_values(by = ['NAMELSAD','citytype_at_2050','city type', ], ascending=True).reset_index()

,index,STATEFP,NAMELSAD,city type,citytype_at_2050,citytype_at_2100
0,21782,41,Aloha CDP,suburban,suburban,urban
1,3997,12,Altamonte Springs city,suburban,suburban,urban
2,11013,24,Aspen Hill CDP,suburban,suburban,urban
3,4036,12,Bayshore Gardens CDP,suburban,urban,urban
4,21808,41,Beaverton city,suburban,suburban,urban
...,...,...,...,...,...,...
56,5753,15,Wahiawa CDP,periurban,periurban,urban
57,5774,15,Waipahu CDP,periurban,urban,urban
58,11508,24,Wheaton CDP,suburban,suburban,urban
59,15974,32,Whitney CDP,periurban,periurban,urban
60,23993,42,Wilkes-Barre city,suburban,suburban,urban

In [101]:
df_city_type[(df_city_type['citytype_at_2050'] != 'urban') & (df_city_type['citytype_at_2100'] == 'urban')][['STATEFP', 'NAMELSAD','CensusPop_20',  'city type',
                                                                                                       'citytype_at_2050', 'citytype_at_2100'
                                                                                                       ]].head(65).sort_values(by = ['NAMELSAD','citytype_at_2050','city type', ], ascending=True).reset_index()

,index,STATEFP,NAMELSAD,CensusPop_20,city type,citytype_at_2050,citytype_at_2100
0,21782,41,Aloha CDP,53828.0,suburban,suburban,urban
1,3997,12,Altamonte Springs city,46231.0,suburban,suburban,urban
2,11013,24,Aspen Hill CDP,51063.0,suburban,suburban,urban
3,21808,41,Beaverton city,97494.0,suburban,suburban,urban
4,4068,12,Boynton Beach city,80380.0,suburban,suburban,urban
5,4137,12,Coconut Creek city,57833.0,suburban,suburban,urban
6,4162,12,Cypress Lake CDP,13727.0,suburban,suburban,urban
7,4171,12,Daytona Beach Shores city,5179.0,suburban,suburban,urban
8,2054,6,East Bakersfield CDP,9749.0,suburban,suburban,urban
9,22637,42,Easton city,28127.0,suburban,suburban,urban
10,4205,12,Egypt Lake-Leto CDP,36644.0,suburban,suburban,urban
11,15879,32,Enterprise CDP,221831.0,suburban,suburban,urban
12,5629,15,Ewa Beach CDP,16415.0,periurban,periurban,urban
13,19454,38,Fargo city,125990.0,suburban,suburban,urban
14,2148,6,Foothill Farms CDP,35834.0,periurban,periurban,urban
15,2186,6,Garden Grove city,171949.0,suburban,suburban,urban
16,22888,42,Hazleton city,29963.0,suburban,suburban,urban
17,23005,42,Kingston borough,13349.0,suburban,suburban,urban
18,2402,6,La Mesa city,61121.0,suburban,suburban,urban
19,15911,32,Las Vegas city,641903.0,suburban,suburban,urban
20,27473,49,Midvale city,36028.0,suburban,suburban,urban
21,4545,12,Naples Park CDP,5092.0,suburban,suburban,urban
22,4607,12,Ormond-by-the-Sea CDP,7312.0,suburban,suburban,urban
23,2702,6,Pacific Grove city,15090.0,suburban,suburban,urban
24,11379,24,Parkville CDP,31812.0,suburban,suburban,urban
25,28944,53,Redmond city,73256.0,suburban,suburban,urban
26,28945,53,Renton city,106785.0,suburban,suburban,urban
27,13197,27,Richfield city,36994.0,suburban,suburban,urban
28,2939,6,Sausalito city,7269.0,suburban,suburban,urban
29,15959,32,Sunrise Manor CDP,205618.0,periurban,periurban,urban
30,24498,45,Surfside Beach town,4155.0,suburban,suburban,urban
31,5753,15,Wahiawa CDP,18658.0,periurban,periurban,urban
32,11508,24,Wheaton CDP,52150.0,suburban,suburban,urban
33,15974,32,Whitney CDP,49061.0,periurban,periurban,urban
34,23993,42,Wilkes-Barre city,44328.0,suburban,suburban,urban

In [97]:
df_city_type[(df_city_type['city type'] != 'urban') & (df_city_type['citytype_at_2050'] == 'urban')][['STATEFP', 'NAMELSAD','CensusPop_20',  'city type',
                                                                                                       'citytype_at_2050', 'citytype_at_2100'
                                                                                                       ]].head(60).sort_values(by = ['citytype_at_2050','city type', 'NAMELSAD'], ascending=False)

,STATEFP,NAMELSAD,CensusPop_20,city type,citytype_at_2050,citytype_at_2100
15955,32,Spring Valley CDP,215597.0,suburban,urban,urban
4774,12,South Bradenton CDP,26858.0,suburban,urban,urban
2903,6,San Leandro city,91008.0,suburban,urban,urban
2885,6,San Bruno city,43908.0,suburban,urban,urban
11704,25,Salem city,44480.0,suburban,urban,urban
4580,12,Oak Ridge CDP,25062.0,suburban,urban,urban
4543,12,Naples city,19115.0,suburban,urban,urban
4491,12,Margate city,58712.0,suburban,urban,urban
2368,6,Laguna Woods city,17644.0,suburban,urban,urban
2288,6,Huntington Beach city,198711.0,suburban,urban,urban
22870,42,Harrisburg city,50099.0,suburban,urban,urban
2163,6,Foster City city,33805.0,suburban,urban,urban
4243,12,Fort Myers Beach town,5582.0,suburban,urban,urban
3369,8,Englewood city,33659.0,suburban,urban,urban
2082,6,El Cajon city,106215.0,suburban,urban,urban
11079,24,Carney CDP,29363.0,suburban,urban,urban
1852,6,Campbell city,43959.0,suburban,urban,urban
1822,6,Burlingame city,31386.0,suburban,urban,urban
4036,12,Bayshore Gardens CDP,19904.0,suburban,urban,urban
5774,15,Waipahu CDP,43485.0,periurban,urban,urban
4824,12,The Hammocks CDP,59480.0,periurban,urban,urban
4811,12,Tamarac city,71897.0,periurban,urban,urban
2913,6,San Pablo city,32127.0,periurban,urban,urban
11694,25,Quincy city,101636.0,periurban,urban,urban
4568,12,North Miami city,60191.0,periurban,urban,urban
2625,6,National City city,56173.0,periurban,urban,urban

In [90]:
df_city_type[(df_city_type['city type'] != 'urban') & (df_city_type['citytype_at_2100'] == 'urban')][['STATEFP', 'NAMELSAD','CensusPop_20',  'city type',
                                                                                                       'citytype_at_2050', 'citytype_at_2100'
                                                                                                       ]].head(60).sort_values(by = ['citytype_at_2050','city type', 'NAMELSAD'], ascending=False)

,STATEFP,NAMELSAD,CensusPop_20,city type,citytype_at_2050,citytype_at_2100
15955,32,Spring Valley CDP,215597.0,suburban,urban,urban
4774,12,South Bradenton CDP,26858.0,suburban,urban,urban
2903,6,San Leandro city,91008.0,suburban,urban,urban
2885,6,San Bruno city,43908.0,suburban,urban,urban
11704,25,Salem city,44480.0,suburban,urban,urban
4580,12,Oak Ridge CDP,25062.0,suburban,urban,urban
4543,12,Naples city,19115.0,suburban,urban,urban
4491,12,Margate city,58712.0,suburban,urban,urban
2368,6,Laguna Woods city,17644.0,suburban,urban,urban
2288,6,Huntington Beach city,198711.0,suburban,urban,urban
22870,42,Harrisburg city,50099.0,suburban,urban,urban
2163,6,Foster City city,33805.0,suburban,urban,urban
4243,12,Fort Myers Beach town,5582.0,suburban,urban,urban
3369,8,Englewood city,33659.0,suburban,urban,urban
2082,6,El Cajon city,106215.0,suburban,urban,urban
11079,24,Carney CDP,29363.0,suburban,urban,urban
1852,6,Campbell city,43959.0,suburban,urban,urban
1822,6,Burlingame city,31386.0,suburban,urban,urban
4036,12,Bayshore Gardens CDP,19904.0,suburban,urban,urban
5774,15,Waipahu CDP,43485.0,periurban,urban,urban
4824,12,The Hammocks CDP,59480.0,periurban,urban,urban
4811,12,Tamarac city,71897.0,periurban,urban,urban
2913,6,San Pablo city,32127.0,periurban,urban,urban
11694,25,Quincy city,101636.0,periurban,urban,urban
4568,12,North Miami city,60191.0,periurban,urban,urban
2625,6,National City city,56173.0,periurban,urban,urban
23993,42,Wilkes-Barre city,44328.0,suburban,suburban,urban
11508,24,Wheaton CDP,52150.0,suburban,suburban,urban
24498,45,Surfside Beach town,4155.0,suburban,suburban,urban
2939,6,Sausalito city,7269.0,suburban,suburban,urban
13197,27,Richfield city,36994.0,suburban,suburban,urban
28944,53,Redmond city,73256.0,suburban,suburban,urban
11379,24,Parkville CDP,31812.0,suburban,suburban,urban
2702,6,Pacific Grove city,15090.0,suburban,suburban,urban
4607,12,Ormond-by-the-Sea CDP,7312.0,suburban,suburban,urban
4545,12,Naples Park CDP,5092.0,suburban,suburban,urban
27473,49,Midvale city,36028.0,suburban,suburban,urban
15911,32,Las Vegas city,641903.0,suburban,suburban,urban
2402,6,La Mesa city,61121.0,suburban,suburban,urban
23005,42,Kingston borough,13349.0,suburban,suburban,urban
22888,42,Hazleton city,29963.0,suburban,suburban,urban
2186,6,Garden Grove city,171949.0,suburban,suburban,urban
19454,38,Fargo city,125990.0,suburban,suburban,urban
15879,32,Enterprise CDP,221831.0,suburban,suburban,urban
4205,12,Egypt Lake-Leto CDP,36644.0,suburban,suburban,urban
22637,42,Easton city,28127.0,suburban,suburban,urban
2054,6,East Bakersfield CDP,9749.0,suburban,suburban,urban
4171,12,Daytona Beach Shores city,5179.0,suburban,suburban,urban
4162,12,Cypress Lake CDP,13727.0,suburban,suburban,urban
4137,12,Coconut Creek city,57833.0,suburban,suburban,urban
4068,12,Boynton Beach city,80380.0,suburban,suburban,urban
21808,41,Beaverton city,97494.0,suburban,suburban,urban
11013,24,Aspen Hill CDP,51063.0,suburban,suburban,urban
3997,12,Altamonte Springs city,46231.0,suburban,suburban,urban
21782,41,Aloha CDP,53828.0,suburban,suburban,urban
15974,32,Whitney CDP,49061.0,periurban,periurban,urban
5753,15,Wahiawa CDP,18658.0,periurban,periurban,urban
15959,32,Sunrise Manor CDP,205618.0,periurban,periurban,urban
2148,6,Foothill Farms CDP,35834.0,periurban,periurban,urban
5629,15,Ewa Beach CDP,16415.0,periurban,periurban,urban